{% extends "site/base.html"  %}
{% load pagination_tags %}

  <h1>{% block head %} {{ page_title }} {% endblock %} </h1>
  {% block content %}
  <center>
  <h1>Corps of Military Police </h1>
  <img src="http://www.corpsofmilitarypolice.org/media/cmp-masthead-sm.png" alt="Badges of the RMP/CMP on the blue and red striped colours of the Corps">
   <h3>Country: {{ country }} </h3>
</center>

 {% autopaginate cemeteries 30 %}
    {% include "site/cemeteries.html" %}
    {% include "site/key.html" %}
  <hr>
    <center>
    {% paginate %}
    </center>
{% endblock %}
